html, body{
  width 100%;
  height: 100%;
}

.panel{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  overflow-y: scroll;
}

.panel.current{
  display: block;
}

/* header */
header{
  position: fixed;
  top: 0;
  left: 0;
  height: 38px;
  width: 100%;
  border-top: solid 1px #666666;
  border-bottom: solid 1px #F0F0F0;
  background-color: #000000;
  z-index: 500;
}

h1{
  position: absolute;
  top: 0;
  left: 50%;
  height: 38px;
  width: 160px;
  margin-left: -80px;
  color: #FFFFFF;
  font: normal 14px/38px sans-serif;
  text-align: center;
}

.button{
  position: absolute;
  top: 7px;
  height: 24px;
  padding: 0 8px;
  background: #666666;
  color: #FFFFFF;
  font: normal 12px/24px sans-serif;
}

.button.left{
  left: 7px;
}

.button.right{
  right: 7px;
}

/* timeline */
#timeline{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 0 0 0;
  -moz-box-sizing: border-box;
  z-index: 100;
}

.tweet{
  position: relative;
  width: 100%;
  min-height: 40px;
  padding-bottom: 4px;
  border-bottom: solid 1px #CCCCCC;
  overflow: hidden;
}

.tweet_icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  padding: 4px;
  -moz-box-sizing: border-box;
}

.tweet_icon_img{
  width: 32px;
  height: 32px;
}

.tweet_user{
  width: 100%;
  padding-left: 40px;
  font: normal 12px/18px sans-serif;
  -moz-box-sizing: border-box;
}

.tweet_text{
  width: 100%;
  padding: 2px 0px 2px 40px;
  font: normal 12px/18px sans-serif;
  -moz-box-sizing: border-box;
}

.tweet_date{
  display: block;
  width: 100%;
  padding: 0 4px 0 40px;
  font: normal 11px/22px sans-serif;
  -moz-box-sizing: border-box;
  text-align: right;
}

/* tweet */
#tweet_panel{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 0 0 0;
  -moz-box-sizing: border-box;
  z-index: 200;
}

#tweet_text_box{
  width: 100%;
}

#tweet_text{
  border: none;
  width: 100%;
  height: 220px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -moz-box-sizing: border-box;
  background: url('transparent.png');
}
